.vs

DTAF.Core/bin
DTAF.Core/obj
DTAF.Core.Desktop/bin
DTAF.Core.Desktop/obj
DTAF.Core.Web/bin
DTAF.Core.Web/obj

LoanIQ.Desktop.Automation.Core/bin
LoanIQ.Desktop.Automation.Core/obj
LoanIQ.Desktop.Automation.Tests/bin
LoanIQ.Desktop.Automation.Tests/obj
LoanIQ.Desktop.Automation.Tests/gauge_bin
LoanIQ.Desktop.Automation.Tests/reports
LoanIQ.Desktop.Automation.Tests/.gauge
LoanIQ.Desktop.Automation.Tests/logs

*.suo